In [9]:
import pandas as pd

india_df = pd.read_csv("C:/Users/bhavi/Desktop/women-t20i-cricket-data-analysis/data/processed/india_t20i_matches.csv")
india_df.head()

,match_id,date,team1,team2,venue,city,winner,toss_winner,toss_decision,event
0,1065348,2016-12-04,India,Pakistan,Asian Institute of Technology Ground,Bangkok,India,India,bat,Asian Cricket Council Women's Twenty20 Asia Cup
1,1123206,2018-02-13,South Africa,India,Senwes Park,Potchefstroom,India,India,field,India Women tour of South Africa
2,1123207,2018-02-16,South Africa,India,Buffalo Park,East London,India,India,field,India Women tour of South Africa
3,1123208,2018-02-18,India,South Africa,The Wanderers Stadium,Johannesburg,South Africa,South Africa,field,India Women tour of South Africa
4,1123209,2018-02-21,South Africa,India,SuperSport Park,Centurion,NaN,India,field,India Women tour of South Africa

In [11]:
india_df["opponent"] = india_df.apply(
    lambda row: row["team2"] if row["team1"] == "India" else row["team1"],
    axis=1
)

In [13]:
def result(row):
    if row["winner"] == "India":
        return "Win"
    elif pd.isna(row["winner"]):
        return "No Result"
    else:
        return "Loss"

india_df["india_result"] = india_df.apply(result, axis=1)

In [15]:
india_df["date"] = pd.to_datetime(india_df["date"])
india_df["year"] = india_df["date"].dt.year

In [17]:
india_df["india_won_toss"] = india_df["toss_winner"] == "India"

In [21]:
def india_batted_first(row):
    if row["toss_winner"] == "India" and row["toss_decision"] == "bat":
        return True
    elif row["toss_winner"] != "India" and row["toss_decision"] == "field":
        return True
    else:
        return False

india_df["india_batted_first"] = india_df.apply(india_batted_first, axis=1)

In [23]:
india_df.to_csv(
    "data/processed/india_t20i_matches_enriched.csv",
    index=False
)