In [1]:
import pandas as pd
import numpy as np
import os
import json

In [11]:
folder_path = "C:/Users/bhavi/Desktop/women-t20i-cricket-data-analysis/data/raw/t20s_female_json"

In [13]:
records = []

In [15]:
for file in os.listdir(folder_path):
    if file.endswith(".json"):
        with open(os.path.join(folder_path, file), "r", encoding="utf-8") as f:
            data = json.load(f)

        info = data["info"]

        record = {
            "match_id": file.replace(".json", ""),
            "date": info["dates"][0],
            "team1": info["teams"][0],
            "team2": info["teams"][1],
            "venue": info.get("venue"),
            "city": info.get("city"),
            "winner": info.get("outcome", {}).get("winner"),
            "toss_winner": info.get("toss", {}).get("winner"),
            "toss_decision": info.get("toss", {}).get("decision"),
            "event": info.get("event", {}).get("name")
        }

        records.append(record)

matches_df = pd.DataFrame(records)
matches_df.head()

,match_id,date,team1,team2,venue,city,winner,toss_winner,toss_decision,event
0,1043989,2017-02-17,Australia,New Zealand,Melbourne Cricket Ground,None,Australia,New Zealand,field,New Zealand Women in Australia T20I Series
1,1043991,2017-02-19,Australia,New Zealand,"Simonds Stadium, South Geelong",Victoria,New Zealand,Australia,field,New Zealand Women in Australia T20I Series
2,1043993,2017-02-22,Australia,New Zealand,Adelaide Oval,None,New Zealand,New Zealand,bat,New Zealand Women in Australia T20I Series
3,1044211,2016-09-27,Sri Lanka,Australia,Sinhalese Sports Club Ground,Colombo,Australia,Australia,field,None
4,1050615,2016-11-21,New Zealand,Pakistan,Saxton Oval,Nelson,New Zealand,New Zealand,bat,None

In [17]:
india_df = matches_df[
    (matches_df["team1"] == "India") |
    (matches_df["team2"] == "India")
]

india_df.shape

(158, 10)

In [19]:
matches_df.to_csv("C:/Users/bhavi/Desktop/women-t20i-cricket-data-analysis/data/processed/match_level.csv", index=False)

In [21]:
india_df.to_csv("C:/Users/bhavi/Desktop/women-t20i-cricket-data-analysis/data/processed/india_t20i_matches.csv", index=False)